* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    direction: rtl;
  }
  
  /*fonts*/
  @font-face {
    font-family: vazir;
    src: url("../fonts/vazir-font-v18.0.0/Vazir.eot") format("eot"),
      url("../fonts/vazir-font-v18.0.0/Vazir.ttf") format("truetype"),
      url("../fonts/vazir-font-v18.0.0/Vazir.woff2") format("woff2"),
      url("../fonts/vazir-font-v18.0.0/Vazir.woff") format("woff");
  }
  
  @font-face {
    font-family: vazir-medium;
    src: url("../fonts/vazir-font-v18.0.0/Vazir-Medium.eot") format("eot"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Medium.ttf") format("truetype"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Medium.woff2") format("woff2"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: vazir-bold;
    src: url("../fonts/vazir-font-v18.0.0/Vazir-Bold.eot") format("eot"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Bold.ttf") format("truetype"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Bold.woff2") format("woff2"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Bold.woff") format("woff");
    font-weight: bold;
  }
  
  @font-face {
    font-family: vazir-light;
    src: url("../fonts/vazir-font-v18.0.0/Vazir-Light.eot") format("eot"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Light.ttf") format("truetype"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Light.woff2") format("woff2"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: vazir-thin;
    src: url("../fonts/vazir-font-v18.0.0/Vazir-Thin.eot") format("eot"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Thin.ttf") format("truetype"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Thin.woff2") format("woff2"),
      url("../fonts/vazir-font-v18.0.0/Vazir-Thin.woff") format("woff");
  }
  
  @font-face {
    font-family: btitr;
    src: url("../fonts/BTitr.woff") format("woff");
    font-weight: bold;
  }
  
  button {
    width: 160px;
    height: 40px;
    background-color: #F21D01; 
    font-family: vazir;
    color: aliceblue;
    margin-top: 60px;
    border: none;
  }
  
  /* header */
  header {
    background-color: #efefef;
    text-align: center;
  }
  
  .header {
    display: flex;
    width: 768px;
    height: 600px;
    background: url("../images/Untitled-4.png") no-repeat bottom center/100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
  
  /* nav */
  nav {
    padding-top: 20px;
  }
  
  .logo {
    width: 60px;
    height: 60px;
  }
  
  nav ul {
    display: flex;
    margin-top: 1rem;
  }
  
  nav ul li,
  a {
    font-family: vazir-bold;
    list-style: none;
    margin-left: 20px;
    color: #565656;
    font-size: 0.9rem;
  }
  
  /*header texts*/
  .header-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: 7%;
  }

  nav ul li a:hover {
    color: #F21D01;
  }
  
  header h1 {
    font-family: btitr;
    background-image: url("../images/coral-1053834_1920.jpg");
    background-repeat: no-repeat;
    font-size: 350%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
  }
  
  header h3 {
    font-family: vazir-medium;
    font-size: 1.5rem;
    color: #565656;
  }
  
  header p {
    margin-top: 1rem;
    font-family: vazir-bold;
    color: #838383;
    font-size: 0.9rem;
    width: 52%;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*services*/
  .services{
    width: 768px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    text-align: center;
    align-items: center;
  }
  .services-text {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  
  .services-text h1 {
    font-family: vazir-bold;
    color: #838383;
    font-size: 0.9rem;
  }
  
  .services-text span{
    color: #FBB900;  
  }
  
  .services-text h2 {
    font-family: vazir-medium;
    color: #565656;
    font-size: 1.5rem;
  }
  
  .services-text hr {
    border: 1px solid #b6b6b6;
    width: 70px;
    margin-top: 10px;
  }
  
  .services-text p {
    font-family: vazir;
    color: #838383;
    font-size: 0.9rem;
    margin-top: 20px;
    width: 53%;
  }
  
  /*services items*/
  .services-items {
    width: 768px;
    display: flex;
    padding-top: 60px;
    justify-content: space-evenly;
    flex-flow: wrap row;
  }
  
  .services-items section {
    border: 1px solid #d3d3d3;
    width: 300px;
    height: 300px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .services-items img {
    width: 40px;
    height: 40px;
  }
  
  .services-items h1 {
    font-family: vazir-bold;
    font-size: 0.9rem;
    color: #565656;
    margin-top: 10px;
  }
  
  .services-items p {
    font-family: vazir;
    font-size: 0.9rem;
    color: #838383;
    margin-top: 10px;
  }
  
  .services button {
    font-family: vazir;
    color: aliceblue;
    margin-top: 60px;
  }
  
  /*about us*/
  .aboutus-main{
    background-color: #0C056C;
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  .aboutus{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .aboutus figure{
    flex: 1;
  }
  
  .aboutus section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  
  .aboutus h1{
    font-family: vazir-medium;
    color: aliceblue;
    font-size: 1.5rem;
  }
  
  .aboutus span{
    color: #FBB900;  
  }
  
  .aboutus hr{
    border: 1px solid #b6b6b6;
    width: 70px;
    margin-top: 20px;
  }
  
  .aboutus p{  
    font-family: vazir;
    font-size: 0.9rem;
    color: #838383;
    margin-top: 20px;
    padding: 0 20px;
  }
  
  /*articles*/
  .articles{
    display: flex;
    flex-direction: column;
    width: 768px;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .articles-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .articles-text h1{
    font-family: vazir-bold;
    font-size: 0.9rem;
    color: #565656;
  }

  .articles-text span{
    color: #FBB900;  
  }
  
  .articles-text h2{
    font-family: vazir-medium;
    color: #565656;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .articles-text hr{
    border: 1px solid #b6b6b6;
    width: 70px;
    margin-top: 10px;  
  }
  
  .articles-text p{
    font-family: vazir;
    color: #838383;
    font-size: 0.9rem;
    margin-top: 20px;
    width: 62%;
  }
  
  /*articles box*/
  .articles-box{  
    width: 768px;
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
  }
  
  .articles-box img{  
    width: 230px;
    height: 230px;
  }

  .articles-box h1{  
    font-family: vazir-bold;
    font-size: 0.9rem;
    color: #565656;
    margin-top: 10px;
  }
  /* footer */
  footer{
    width: 100%;
    margin-top: 40px;
    height: 200px;
    background-color: #0C056C;
  }